@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.button {
  border: none;
  outline: none;
  font-weight: 500;
  transition: all $transition-base;

  &:hover {
    opacity: 0.9;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}


