@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.card {
  transition: box-shadow $transition-base;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}


