@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-md;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  color: $color-text;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  font-size: $font-size-md;
}

// Links
a {
  color: $color-primary;
  transition: color $transition-base;

  &:hover {
    color: darken($color-primary, 10%);
  }
}

// Focus styles
*:focus-visible {
  @include focus-ring;
}

// Selection
::selection {
  background-color: $color-primary;
  color: #ffffff;
}


